// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Copy text color
$text-color: rgb(0, 0, 0) !default;

/// Copy light text color
$color-white: rgb(255, 255, 255) !default;

/// Copy black color
$color-black: rgb(0, 0, 0) !default;

/// Copy gray color
$color-gray: rgb(79, 79, 79) !default;

/// Copy light-gray color
$color-light-gray: rgb(235, 235, 235) !default;

/// Copy color red
$color-red: rgb(255, 64, 3) !default;

/// Copy color yellow
$color-yellow: rgb(255, 239, 58) !default;

/// Transition base
$transition-base: 0.3s ease-in-out !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 576px,
  'medium': 768px,
  'large': 1024px,
  'extra-large': 1600px,
) !default;
